.header {
    text-align: center;
    padding: 1.5rem 1rem;
    height: 100vh;
    background-color: #3dbeff;
    margin-bottom: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav h1, nav ul {
    font-family: 'Barlow';
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fbfeff;
}

.menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #fbfeff;
    font-weight: 500;
    font-size: 20px;
}

.contact-btn {
    font-size: 1.1rem;
    font-family: 'Fraunces';
    width: 7.5vw;
    height: 5vh;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.hero h2 {
    color: #fbfeff;
    font-size: 7rem;
    margin-top: 3rem;
    font-style: normal;
    letter-spacing: 2px;
}

.hero {
    padding-top: 200px;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    background-image: url("../assets/image-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero img {
    margin-top: 1.2rem;
}