.testimonials {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
    height: 60vh;
}

.testimonials h3 {
    font-size: 2.5rem;
    margin-bottom: 6rem;
    letter-spacing: 10px;
    color: #a8a9ab;
}

.testimonial-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 8px;
    width: 27.5vw;
    height: 30vh;
}

.card p {
    width: 20vw;
    font-size: 1.1rem;
    color: #808184;
    margin-top: 30px;
    line-height: 25px;
}

.card h4 {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
}

.card span {
    font-size: 0.95rem;
    color: #999;
    font-weight: bold;
    margin-top: .5rem;
}

.card img {
    width: 4vw;
    border-radius: 100%;
}