* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: 'Fraunces';
}

p {
    font-family: 'Barlow';
    /* font-weight: bold; */
}