* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Fraunces';
}

p, span {
    font-family: 'Barlow';
    /* font-weight: bold; */
}

@media (max-width: 375px) {
    .App {
        width: 150vw;
    }
}